/* Global styles */

header {
    background: rgb(8,0,148);
    background: linear-gradient(270deg, rgba(8,0,148,1) 0%, rgba(87,34,205,1) 12%, rgba(87,34,205,1) 95%);
    color: white;
}


/* Typography */

body {
    font-family: 'Roboto', sans-serif;
}

.Titels {
    font-family: 'Merriweather', serif;
}

.Tekst {
    font-size: 17px;
}

/* Layout */

ul {
    list-style-type: none;
    float: right;
}

li {
    display: inline-block;
    margin: 35px;
}

div {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    padding-top: 130px;
    padding-bottom: 50px;
    width: 600px;
}

.Button {
    background-color: #ED4385;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 5px 5px 5px hsl(259, 72%, 39%);
}

.Introductie {
    font-family: 'Merriweather', serif;
    background-color: white;
    color: #5722CD;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 700px;
}

.Question {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

#ClickHere {
    color: #5722CD;
}

/* Areas */


